body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,38,121,1) 45%, rgba(0,212,255,1) 100%);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 200;
  font-style: normal;
}



.centerContainer h2 {
  color: #3567af;
  font-size: 4rem;
}

.centerContainer {   
    background: rgb(243,162,162);
    background: linear-gradient(180deg, rgba(243,162,162,1) 0%, rgba(243,25,25,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 85%;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top:3%;
    flex-wrap: wrap;
}

.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 55%;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
  }

  .titleBox img {
    max-height: 100px;
    padding-right: 10px;
  }

  .signupBox {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 70%;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
  }

  .welcomeBox {
    display: block;
    justify-content: center;
    height: 400px;
    width: 70%;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
  }

  #welcomeHeader {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  #welcomeHeader h3 {
    color: #3567af;
  }

  #welcomeChoices {
    
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    
  }

  .welcomeButton, #start-btn, #next-btn {
    padding: 10px 15px;
    margin: 8px;
    background-color: #3567af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .welcomeButton:hover, #start-btn:hover, #next-btn:hover {
    background-color: #c41c1c;
  }

  /* Game Overview Modal hidden by default */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.6); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

/* Close Button / Span X */
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Signup Div Styles */

.signupBox {
  background-color: aquamarine;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
}

#signupHeader {
  width: 100%;
  justify-content: center;
  text-align: center;
}

#nameInput {
  justify-content: center;
  text-align: center;
}

input[type=text] {
  border: 2px solid black;
  border-radius: 4px;
  min-height: 30px;
}

/* Styling for quiz container */

#userMessage {
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

#question-container {
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

#question {
  font-size: 24px;
  margin-bottom: 10px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.btn {
  padding: 10px 15px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #3567af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quizButton:hover {
  background-color: #6969f3;
}


#controls {
  justify-content: center;
  margin-top: 20px;
}

#controls.show {
  display: flex;
}





/* Questions and Answers Buttons Styling */

.hide {
  display: none; /* Sets a class to hide buttons as needed */
}

.correct {
  background-color: green; /* Correct answers will turn green */
  color: white;
}

.wrong {
  background-color: #dc3545; /* Wrong answers will turn red */
  color: white;
}

.pass {
  background-color: #46198d; /* Pass Button highlighted  */
  color: white;
}